
<%include ../head%>

<ul>
<% for(var i=0; i<tilEntries.length;i++){ %>
  <li>
    <a href = '/til/<%= i %>' ><%=tilEntries[i].slug %></a>
    <a href = '/til/<%= i %>/edit'>Edit</a>
    <a href = '/til/<%= i %>/delete'>Delete</a>
  </li>
<% } %>
</ul>
<%include ../footer%>
