
<%include ../head%>

<ul>
<% for( var i=0; i<til.length;i++){ %>
  <li>
    <a href = '/til/<%= i %>' ><%=til[i].title %></a>
    <a href = '/itl/<%= i %>/edit'>Edit</a>
    <a href = '/itl/<%= i %>/delete'>Delete</a>
  </li>
<% } %>
</ul>
<%include ../footer%>
